body {
	background-color: #80DCFF;
	font-family: Arial, san-serif;
}

h1, p {
	color: #000000;
}

h1 {
	font-size: 48px;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

