@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin|PT+Sans');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #FEFEFA;
	font-family: 'Cabin', san-serif;
	color: #1f1a1c;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
} 

a {
	font-size: inherit;
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	font-family: 'PT Sans', san-serif;
	letter-spacing: .075em;
}

h1 {
	font-size: 3em;
	text-transform: none;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.25em;
}

p {
	/*max-width: 30em;*/
	line-height: 1.5em;
	font-family: 'Cabin', san-serif;
	text-align: center;
}

button {
	background-color: #B8EFFF;
	margin: .5em;
	padding: .5em;
	text-align: center;
	font-size: 1em;
}

header {
	width: auto;
}

nav {
	text-align: center;
	max-width: 100%;
}

nav a {
	letter-spacing: 2px;
	display: block;
	width: 18%;
	float: left;
	text-transform: lowercase;
	padding: 1em 0;
}


nav a:hover {
	background-color: #B8EFFF;
	padding: 20px 0;
}

label{
	letter-spacing: 2px;
	display: block;
	width: 25%;
	float: left;
	text-transform: lowercase;
	padding: 1em 0;
	margin: 0 .5em;
	display: none;
	background-color: #FEFEFA;
	border-width: .5em;
	border-color: #B8EFFF;
}

footer {
	background-color: #B8EFFF;
	width: inherit;
	border: 1px black solid;
	padding: 20px 50px;
	float: left;
	text-align: left;
}

footer > p {
	max-width: 11em;
}

input {
	width: 30em;
	display: block;
	text-align: center;
	height: 2em;
	margin: auto;
}

input [type=text] {
	height: 3em;
}

.wrapper {
	width: 100%;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.call_to_action{
	background: url(../images/blur_bar_homepage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding-top: 5em;
	color: #FEFEFA;
}

.description {
	background-color: #1f1a1c;
	color: #FEFEFA;
	text-align: center;
	padding: 7em;
}

.next_steps {
	padding: 4em;
	background-color: #1f1a1c;
	color: #FEFEFA;
}

.walkthrough{
	float: left;
	width: 50%;
	display: inline-block;
	padding: 2.6em 6em 4em 1em;
}

.explore {
	width: 100%;
	display: inline-block;
	margin: auto;
	padding: 7em;
}

.explore > p {
	margin:auto;
}

#toggle {
	display: none;

}

#nav_action {
	float: right;
	width: 60%;
}

#nav_action > a {
    max-width: 33%;
    display: block;
    float: right;
}

#explore_anchor{
	text-decoration: underline;
}


#quick_plan {
	float: left;
	text-align: center;
	display: inline-block;
	width: 50%;
	/*background-color: #C3E8BE;*/
	height: 100%;
}


#slogan {
	font-size: 2.4em;
	padding: .5em;
	text-decoration: underline;
	text-align: center;
	letter-spacing: 2.5px;
	font-family: 'PT Sans';
	font-weight: 700;
}

#explore_header {
	padding: 0em;
}

#explore_tag {
	text-align: center;
	margin: 4em 0;
}

#quick_plan_header {
	max-width: 600px;
	margin: auto;
	color: #1f1a1c;
}

#copyright {
	float: right;
	text-align: right;
	padding: 0em;
	margin: 0em;
}

#hook {
	text-align: center;
	margin: auto;
	width: 30em;
}

#quick_plan_form {
	padding: 2em;
	background-color: #B8EFFF;
	color: #1f1a1c;
	border: solid #FEFEFA .3em;
}

@media screen and (max-width: 1392px) {
	.walkthrough > h2 {
		width: 12em;
		margin: auto;
	}
}

@media screen and (max-width: 1130px) {
	nav{
		display: none;
	}
	label {
		display: block;
		margin: auto;
	}
	#toggle:checked + nav{
		display: block;
	}

	#toggle:checked + nav > #logo{
		display: none;
	}

	#toggle:checked + #nav_action > a {
		padding: 0 1em;
	}

	.walkthrough {
		float: left;
		width: 50%;
		display: inline-block;
		padding: 0.6em 5em 0em 0em;
	}

	.walkthrough > h2, li, p {
		width: 1em;
	}
}
