@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin|PT+Sans');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #1f1a1c;
	font-family: 'Cabin', san-serif;
	color: #FEFEFA;
	text-align: center;
	font-size: 20px;

}

div, section {
	padding: 2em;
}

a {
	font-size: inherit;
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	font-family: 'PT Sans', san-serif;
	letter-spacing: .075em;
}

h1 {
	font-size: 3em;
	text-transform: none;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.25em;
}

p {
	max-width: 30em;
	line-height: 1.5em;
	font-family: 'Cabin', san-serif;
	text-align: center;
}

button {
	background-color: #72E875;
	margin: .5em;
	padding: .5em;
	color: #FEFEFA;
	text-align: center;
	font-size: 1em;
}

aside {
	padding: 1em;
}

header {
	width: auto;
}

nav a {
	letter-spacing: 2px;
	display: block;
	width: 18%;
	float: left;
	text-transform: lowercase;
	padding: 1em 0;
	margin: 0 .5em;
}

nav {
	text-align: center;
	/*background-color: #a8a8a8;*/
	border: .1em black solid;
	padding: 1em;
	max-width: 100%;
}

nav a:hover {
	background-color: #dd0000;
	padding: 20px 0;
}

label{
	letter-spacing: 2px;
	display: block;
	width: 18%;
	float: left;
	text-transform: lowercase;
	padding: 20px 0;
	margin: 0 10px;
	display: none;
}

footer {
	background-color: #a8a8a8;
	width: inherit;
	border: 1px black solid;
	padding: 20px 50px;
	float: left;
	text-align: left;
}

footer > p {
	max-width: 10em;
}

.wrapper {
	width: 100%;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.call_to_action{
	background: url(../images/blur_bar_homepage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 90vh;
	padding-top: 5em;
}

.two_column {
	/*padding: 20px;*/
}

.description {
	/*margin: auto;*/
	/*padding: 5px;*/
	border-style: solid;
	border-color: #FEFEFA;
	border-width: 3px;
	text-align: center;
}

.modules {
	max-width: auto;
	padding: 0px;
	margin: 0px;
}

#toggle {
	display: none;

}

#right {
	float: left;
	max-width: 50%;
	display: inline;
/*	background-color: #E55B88;
*/	
}

#left {
	float: left;
	text-align: center;
	display: inline;
	max-width: 50%;
}


/*#logo {
	text-align: right;
}*/


#slogan {
	font-size: 2.4em;
	padding: .5em;
	text-decoration: underline;
	text-align: center;
	letter-spacing: 2.5px;
	font-family: 'PT Sans';
	font-weight: 700;
}

#explore_tag {
	text-align: center;
}

#quick_create_header {
	max-width: 600px;
	text-align: center;
}

#copyright {
	float: right;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

#hook {
	text-align: center;
	margin: auto;
}

@media screen and (max-width: 1130px) {
	nav{
		display: none;
	}
	label {
		display: block;
		margin: auto;
	}
	#toggle:checked + nav{
		display: block;
	}
}
